<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<script language="JavaScript"></script>
</head>
<body>
	<div>
		<p>
		지원 가능 파일 확장자 : [.txt, .xls, .xlsx]
		</p>
	</div>
	<div>
			<form id="file-upload" method="POST" enctype="multipart/form-data" action="/">
				<tr><td></td><td><input type="radio" onclick="handleCheck(this);" name="radioWord" value="bword" checked="checked"/> 금칙어 파일
				<tr><td></td><td><input type="radio" onclick="handleCheck(this);" name="radioWord" value="wword"/>화이트 리스트 파일</td></tr>
				<table>
					<tr><td>File to upload:</td><td><input type="file" name="file"/></td></tr>
					<tr><td><button class="requestFile" type="submit" id="upload-file"/>업로드</td></tr>
				</table>

				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
				<script type="text/javascript">
					var currentValue = "bword";
					function handleCheck(myWord) {
						alert(myWord.value +"가 선택되었습니다");
						currentValue = myWord.value;
					}
				</script>
			</form>
	</div>

	<div>
		<a href="http://192.168.1.30:8081/download/bword"> 금칙어 다운로드 </a>
		<br>
	</div>
	<div>
		<a href="http://127.0.0.1:8081/download/wword"> 화이트 리스트 </a>
	</div>

    <div>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </div>

</body>
</html>
